<html>
<head>
	<title>Word文档查重</title>
	<!DOCTYPE html>
<meta charset="utf-8">
<title>HTML5 pracitce</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content ="" name="keywords">
<meta content="" name="description">
<link href="main.css" type="text/css" rel="stylesheet"/>
<div id="blog">
    <header id="bloghead">
        <div id="blogTitle">
            <h1 id="blogname">信息查重系统 </h1>
            <div id="bloglink">
                软件154刘盛鉴
            </div>
        </div>
    </header>
</div>
</head>
<body>
<!--<body bgcolor = "green" >-->
<p>
<img src="static/b3.jpg"  />
</p>
	<form  action="/signin" method="post">
	<input type="file" name="file" id="filePicker" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
	<input type="submit" value="查询">
	</form>
</body>
</html>